# variavel
.env

# dependencies
/node_modules/

# cypress
/cypress/screenshots/
/cypress/videos/
/cypress/reports
/cypress/downloads
**cypress.env.json

#sourceMap
*.js.map

# Idea
/.idea/


#allure
allure-results
allure-report

#