services:
    cypress_test_blog_e2e:
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - .:/app
        environment:
            CYPRESS_BASE_URL: ${CYPRESS_BASE_URL}
        command: ['npm', 'run', 'cyDevRun:e2e']
