name: Validando Eslint Cypress

on:
    workflow_dispatch:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    qa-run-lint:
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Run npm install
              run: npm install --legacy-peer-deps

            - name: Run ESLint on Cypress QA push
              run: npm run lint

            - name: Enable auto-merge if lint passes
              uses: peter-evans/enable-pull-request-automerge@v3
              with:
                  pull-request-number: ${{ github.event.pull_request.number }}
                  merge-method: squash
                  github-token: ${{ secrets.GITHUB_TOKEN }}
